@media screen and (max-height: 700px) {
  .spinner__container {
    top: -90%;
  }
}

/* Large screens ----------- */
@media screen and (min-width: 1824px) {
  .selected__dish {
    padding-right: 270px;
  }

  .selected__dish__image {
    margin-top: 10%;
  }

  .arrow__buttons {
    right: 6%;
  }
}
