.content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  height: calc(100vh - 100px);
}

.selected__dish__info {
  width: 330px;
}

a.video {
  position: fixed;
  bottom: 5%;
  left: 100px;
}
